<h1>
  <mat-form-field class="formfield-form">
    <mat-label>Login</mat-label>
    <label>
      <input [readonly]="isVisible ? 'true' : 'false'" matInput [(ngModel)]="login">
    </label>
  </mat-form-field>
  <p></p>
  <div [style.visibility]="isVisible ? 'visible' : 'hidden'">
    <mat-form-field class="formfield-form">
      <mat-label>Security question</mat-label>
      <label>
        <input [readonly]="true" matInput [(ngModel)]="question">
      </label>
    </mat-form-field>
    <p></p>
  </div>
  <div [style.visibility]="isVisible ? 'visible' : 'hidden'">
    <mat-form-field class="formfield-form">
      <mat-label>Answer</mat-label>
      <label>
        <input matInput [(ngModel)]="answer">
      </label>
    </mat-form-field>
  </div>
  <p></p>
  <div [style.visibility]="isVisible ? 'hidden' : 'visible'">
    <button mat-button class="button" (click)="checkAccount()">Check Account</button>
  </div>
  <p></p>
  <div [style.visibility]="isVisible ? 'visible' : 'hidden'">
    <button mat-button class="button" (click)="changePassword()">Next</button>
  </div>
  <p></p>
  <div>
    <button mat-button class="button" routerLink="/login">Cancel</button>
  </div>
</h1>


<h2>

</h2>

<h3>

</h3>

<h4>

</h4>

<h5>

</h5>

<h6>

</h6>
